@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
* {
  word-wrap: break-word !important;
  -webkit-tap-highlight-color: transparent;
  /* Define scrollbar width and color variables */

  /* Apply styles to the scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #666 !important;
    border-radius: 0 !important;
    width: 10px !important;
  }
}

ul li {
  list-style-position: outside;
  margin-left: -25px;
}
.cm-panels {
  display: none;
}
body {
  line-height: 1.5;
  margin: 0;
  flex: 1;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
  background-size: cover !important;
  background: #131314;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

a {
  cursor: pointer !important;
}
.hidden-sidebar {
  transform: translateX(-85px);
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-space {
}
#uv-background {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: -1;
  background: #000;
}
.flex__align {
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.table-header {
  background-color: #1f58a3 !important;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
  padding: 8px 5px !important;
  border: 5px solid #e6ebed !important;
  border-bottom: 0 !important;
}
.wht-td {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 13px !important;
  text-align: center !important;
  padding: 10px !important;
  font-weight: normal !important;
}
.code-editor {
  font-family: Consolas, "Courier New", monospace;
  font-size: 13px;
}
.lost-td {
  font-weight: 600 !important;
  background-color: #ff8686 !important;
  color: #fff !important;
}
.won-td {
  background-color: #88ca12 !important;
  font-weight: 600 !important;
  color: #fff !important;
}
.all-t {
  background: #49494a !important;
  color: #fff;
  padding: 10px;
  text-align: left !important;
}
svg {
  fill: #fff;
  transform: scale(0.8);
}
.svgBtn_text {
  font-size: 16px;
  margin-left: 10px;
}
header {
  height: 60px;
  background-color: #066ead;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.input-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.input-group label {
  flex: 1;
  color: #aaa;
  font-size: 0.9rem;
}
.input-group * {
  box-sizing: border-box;
}
.input-group div.flex-input {
  display: flex;
}
.options {
  display: flex;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.05);
}
.options div {
  margin-right: 10px;
}
.input-group div {
  flex: 1;
}
.flex-option {
  display: flex;
  align-items: center;
}
.flex-option label {
  margin-right: 10px;
  color: #aaa;
  font-size: 0.9rem;
}
.input-info {
  font-size: 0.8em;
  margin-top: -12px;
  color: #888;
  margin-bottom: 10px;
  width: 100%;
}
.input-group select,
.input-group textarea {
  flex: 1;
  margin: 0;
  height: 35px;
  resize: none;
  cursor: pointer;
  width: 100%;
  color: #d5d5d5 !important;
  background: #222;
  padding-left: 2rem;
  padding: 0.35rem 1rem;
  flex: 1;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  color: #666;
  border-radius: 0.25rem;
}
.flex-input select {
  margin-left: 5px;
  margin-right: 5px;
}
option {
  color: #aaa;
  background-color: #222 !important;
}
.flex-input {
  margin-left: -5px;
  margin-right: -5px;
}
.input-group select:focus {
  outline: 1px solid #444;
}
header button {
  color: #ddd !important;
  border: none;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 40px;
  border-radius: 8px;
  font-size: 14px !important;
  cursor: pointer;
  padding: 0 20px;
}
.hidden-header {
  transform: translateY(-60px);
}

.emoji {
  color: transparent;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
}
header button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.content {
  padding: 15px;
}
header .right-menu {
  display: flex;
  padding: 0 5px;
}
.mb15 {
  margin-bottom: 15px;
}
.wt-bg {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #fff;
}
.centerSpin {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.center-score {
  color: #e9df90;
  text-transform: capitalize;
}
.error-message {
  padding: 15px 20px;
  border: 1px solid #f6685e;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgb(255, 0, 0, 0.1);
  color: #f6685e;
}
.success-message {
  padding: 15px 20px;
  border: 1px solid #33a31f;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgba(55, 255, 0, 0.048);
  color: #33a31f;
}
.menu-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.header-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse !important;
}
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
  padding: 8px;
}
th {
  background-color: rgba(1, 28, 53, 0.1);
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
button.create:hover {
  background-color: #0f6699;
}

.edit {
  width: 50px;
}
.edit button {
  border: none;
  background-color: rgb(24, 104, 24);
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer !important;
}
.edit-head {
  text-align: center;
}
.delete button {
  background-color: rgb(177, 0, 0);
}
.edit button svg {
  height: 20px;
}
input.input,
.input {
  padding: 10px 12px;
  width: 400px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  outline: none;
  background: #fff;
}

button.create {
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #1174ad;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
#button:disabled {
  opacity: 0.2;
}
li {
  margin-bottom: 5px;
}
td textarea {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  height: 30px;
  box-sizing: border-box;
  width: 200px;
}
table td {
  max-width: 200px !important;
}

h1.heading {
  font-size: 24px;
  font-weight: normal;
  color: #000;
}
h2.heading {
  font-size: 17px;
  font-weight: normal;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.path-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: -15px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
form {
  padding: 20px;
  background-color: #f1f3f6;
}
select {
  font-size: 16px;
  padding: 10px 12px;
  border: none;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
option {
  background: #fff;
}
.container-x {
  margin-top: 10px;
}

@media (min-width: 1064px) {
  .c-date {
    width: 25%;
  }
}
@media screen and (max-width: 1064px) {
  .left-space {
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .c-date {
    width: 16.66666667%;
  }
}

@media (max-width: 400px) {
  .c-flex {
    font-size: 12px !important;
  }
  svg {
    transform: scale(0.6);
  }
  header button {
    padding: 0;
  }
  .c-logo img {
    margin-right: 0 !important;
    object-fit: contain;
  }
  .right-menu > div {
    padding: 0 !important;
  }
}
